@menu_color: #76c7c0;
@color_white : white;
@color_gray: gray;
@site_background: #f3f3f3;
@well_color:#ececec;
@button_color: #5d9792;
@color_red: #d73f39;

body{
	background-color: @site_background;
}
.float{
	float:left;
}

address{
	padding: 0px 125px;
}

iframe{
	margin-bottom:30px;
}

input{
	width:350px;
}

td{
	width:200px;
	padding:3px;
	text-align:lecolor_ft;
}

.navbar-default {
	background-image: none;
	background-color:@menu_color!important;
	border-color: @menu_color;
	border-radius: 0 0 0 0;
}


.navbar-default .navbar-nav > li > a{
	color: @color_white;
}

.navbar-default .navbar-brand{
	color: @color_white;
}

.well{
	border: none;
	background-image: none;
	border-radius: 0 0 0 0;
	background-color: @well_color;
}

.navbar-default button{
	color: @color_white;
	border-color: @button_color;
	background-color: @button_color
}

.btn-default{
	background-image: none;
	color: none;
	border-color: none;
	background-color: none;
}

.well span{
	margin-left: 43.4px;
	font-weight: bold;
	color: @color_gray;
}
.well p{
	text-align: right;
	margin-right: 55.5px;
	margin-top: -20px;
	font-weight: bold;
	color: @color_gray;
}
